In [1]:
# Main Assignment_3_Big Mart Sales prediction
# By Rajkumar Mouttou
# The data scientists at BigMart have collected 2013 sales data for 1559 products across 10 stores in different cities.
# Also, certain attributes of each product and store have been defined. 
# The aim is to build a predictive model and find out the sales of each product at a particular store.

# Dataset in

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

import os

In [4]:
df=pd.read_csv('dataset/03_big_mart_data.csv')

In [5]:
df.head(4)

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Item_Outlet_Sales
0,9.30,Low Fat,Dairy,249.8092,Medium,3735.1380
1,5.92,Regular,Drinks,48.2692,Medium,443.4228
2,17.50,Low Fat,Dairy,141.6180,Medium,2097.2700
3,8.93,Low Fat,Others,53.8614,High,994.7052

In [6]:
df.tail(4)

,Item_Weight,Item_Fat_Content,Item_Type,Item_MRP,Outlet_Size,Item_Outlet_Sales
4646,6.865,Low Fat,Others,214.5218,High,2778.3834
4647,10.600,Low Fat,Others,85.1224,Small,1193.1136
4648,7.210,Regular,Others,103.1332,Medium,1845.5976
4649,14.800,Low Fat,Drinks,75.4670,Small,765.6700

In [8]:
df.describe()

       Item_Weight     Item_MRP  Item_Outlet_Sales
count  4650.000000  4650.000000        4650.000000
mean     12.898675   141.716328        2272.037489
std       4.670973    62.420534        1497.964740
min       4.555000    31.490000          69.243200
25%       8.770000    94.409400        1125.202000
50%      12.650000   142.979900        1939.808300
75%      17.000000   186.614150        3111.616300
max      21.350000   266.888400       10256.649000

In [9]:
# No null values
df.isnull().sum()

Item_Weight          0
Item_Fat_Content     0
Item_Type            0
Item_MRP             0
Outlet_Size          0
Item_Outlet_Sales    0
dtype: int64

In [12]:
# No. of observation & features
df.shape

(4650, 6)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4650 entries, 0 to 4649
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Item_Weight        4650 non-null   float64
 1   Item_Fat_Content   4650 non-null   object
 2   Item_Type          4650 non-null   object
 3   Item_MRP           4650 non-null   float64
 4   Outlet_Size        4650 non-null   object
 5   Item_Outlet_Sales  4650 non-null   float64
dtypes: float64(3), object(3)
memory usage: 218.1+ KB

In [16]:
df['Item_Type'].unique()

array(['Dairy', 'Drinks', 'Others', 'Fruits'], dtype=object)

In [18]:
df['Item_Fat_Content'].unique()

array(['Low Fat', 'Regular'], dtype=object)